name: Manual workflow

on:
  workflow_dispatch:

jobs:
  check-cores:
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-13-canary, macos-15-canary, macos-15-intel, macos-26-canary ]
            
    runs-on: ${{ matrix.os }}

    steps:
      - name: Fastlane
        run: |
            echo "- [i] which clang result:"
            which clang
            echo "- [i] clang --version result:"
            clang --version
            echo "- [i] `$(brew --prefix llvm@{0})`/bin/clang result:"
            $(brew --prefix llvm@{0})/bin/clang

