name: Manual workflow

on:
  workflow_dispatch:

jobs:
  check-cores:
    strategy:
      matrix:
        os: [ windows-latest ]
            
    runs-on: ${{ matrix.os }}

    steps:
      - name: Test
        run: |
            choco --help
