name: Manual workflow

on:
  workflow_dispatch:

jobs:
  check-cores:
    strategy:
      matrix:
        os: [ macos-13 ]
            
    runs-on: ${{ matrix.os }}

    steps:
      - name: Test
        run: |
            echo "!"
